<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script src="https://code.highcharts.com/modules/wordcloud.js"></script>


<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
</style>

<head>
    <meta charset="UTF-8">
    <title>Twitter Sentiment</title>
</head>
<body>
<header class="w3-container w3-theme w3-padding-48" id="myHeader" style="background: #a3dcf0">
    <div class="w3-center">
        <h1 class="w3-xxxlarg">Twitter Sentiment</h1>
        <!-- <h4 class="w3-animate-bottom">Find out in which mood the twitter sphere discusses the topics</h4> -->
    </div>
</header>


<div id="graphs" class="w3-style w3-center w3-padding w3-margin-right">
    <div class="w3-row">
        <div class="w3-col l1 m0 s0 w3-padding"></div>

        <div class="w3-col l9 m10 s12 w3-center w3-card-4 w3-padding">
            <div id="container" class="w3-padding"></div>
            <div class="w3-row">
                <p style="font-size: 24px">WordCloud</p>
                <div id="wordscount" class="w3-col l6 s6 w3-center w3-card-4 w3-padding"></div>
                <div id="wordscountAgg" class="w3-col l6 s6 w3-center w3-card-4 w3-padding"></div>
            </div>
        </div>

        <div class="w3-col l2 m2 s0">

            <div class="w3-dropdown-hover w3-margin w3-card-4 ">
                <button class="w3-button" style="background: #a3dcf0">Aggregation period</button>
                <div class="w3-dropdown-content w3-bar-block w3-border w3-card-4">
                    <p>
                        <input class="w3-radio" type="radio" name="aggregation" value="30s">
                        <label>30 Sec</label>
                    </p>
                    <p>
                        <input class="w3-radio" type="radio" name="aggregation" value="1Min" checked>
                        <label>1 Min</label>
                    </p>
                    <p>
                        <input class="w3-radio" type="radio" name="aggregation" value="5Min">
                        <label>5 Min</label>
                    </p>
                    <p>
                        <input class="w3-radio" type="radio" name="aggregation" value="10Min">
                        <label>10 Min</label>
                    </p>
                </div>

            </div>

            <div class="w3-dropdown-hover w3-margin w3-card-4 ">
                <button class="w3-button" style="background: #a3dcf0">Keywords selector</button>
                <div class="w3-dropdown-content w3-bar-block w3-border w3-align-left">
                    <h2>Select words</h2>
                    <div style="alignment: left">
                        <input class="w3-check" id="all_checkbox" type="checkbox" name="keywords" value="all"
                               checked="checked">
                        <label>All</label>
                    </div>
                    {% for kw in keywords %}
                        <div>
                            <input class="w3-check" type="checkbox" name="keywords" value={{ kw }}>
                            <label>{{ kw }}</label>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div id="autorefresh" class="w3-padding w3-section w3-margin">Auto Refreshing in 60s</div>
            <button class="w3-button w3-blue-gray w3-card-4 w3-padding w3-section" onclick="updatData()"
                    style="width:80%">Refresh Now
            </button>

            <div class="w3-block w3-padding w3-margin w3-auto" style="background: #1d5794; color: whitesmoke">
                <h5>Tweets in last {{history}} hours</h5>
                <p id="tweet_count" class="w3-large">0</p></div>

            <hr>
            </div>
        </div>
    </div>
</div>

<footer class="w3-container w3-center" style="background: #a3dcf0">
  <h5>Developed by
    <a href="https://iedl.no" target="about blank">
           IEDL
    </a>
</h5>
  <p>This software is issued under
    <a href="https://opensource.org/licenses/BSD-3-Clause" target="about blank">
  BSD license</a>, however the graphs was developed
  using <a href="https://www.highcharts.com/" target="about blank"> Higcharts</a>
   and use of this web app should be in accordance with their license policy.</p>
</footer>

</body>

<script>
    var REFRESH_TIMEOUT = 60000; //ms
    var COUNTDOWN = 60;
    var updateAutoRefreshInterval;
    var isLoading = false;


    $('input:checkbox').change(
        function () {
            if ($(this).is(':checked') & $(this).val() != 'all') {
                document.getElementById("all_checkbox").checked = false;
            }
            else if ($(this).is(':checked') & $(this).val() === 'all') {
                $('input:checkbox').each(function () {
                    this.checked = false;
                });

                document.getElementById("all_checkbox").checked = true;
            }
        });

    function updatData() {
        loadingInfo();
        clearInterval(updateAutoRefreshInterval);
        updateAutoRefreshInterval = setInterval(updatData, REFRESH_TIMEOUT);
        COUNTDOWN = 60;

        var chart = $('#container').highcharts();
        var series_spline = chart.series[0];
        var series_range = chart.series[1];

        var keywordsValues = [];
        $('input[type="checkbox"][name=keywords]:checked').each(function (index, elem) {
            keywordsValues.push($(elem).val());
        });

        $.getJSON('/data', {
            aggregation: $("input[type=radio][name=aggregation]:checked").val(),
            keywords: keywordsValues.join(', ')
        }, function (data) {
            series_spline.setData(data.mean);
            series_range.setData(data.val);
            document.getElementById("tweet_count").innerHTML = data.tweetCount;
            $('#wordscount').highcharts().series[0].setData(data.wordcloud);
            $('#wordscountAgg').highcharts().series[0].setData(data.wordcloud_agg_last);
            loadingInfo();
        });


        chart.setTitle(null,
            {
                text: 'Keywords: ' + keywordsValues.join(', ') + '; '
                + 'Aggregation: '
                + $("input[type=radio][name=aggregation]:checked").val()
            });
        $('#wordscountAgg').highcharts().setTitle({
            text:
            'Last ' + $("input[type=radio][name=aggregation]:checked").val()
        })
    }

    Highcharts.stockChart('container', {
        chart: {
            type: 'areasplinerange',
            events: {
                load: function () {
                    // set up the updating of the charts
                    updateAutoRefreshInterval =
                        setInterval(updatData, REFRESH_TIMEOUT);
                }
            }
        },

        loading: {
            hideDuration: 500,
            showDuration: 500
        },


        title: {
            style: {
                fontSize: "24px"
            },
            text: 'Real Time Twitter Sentiment'
        },

        subtitle: {
            style: {
                fontSize: "18px"
            },
            {#text: 'Keywords: ' + keywordsValues.join(', ') + ', ' + 'aggregation: '#}
            {#+ $("input[type=radio][name=aggregation]:checked").val()#}
        },

        rangeSelector: {
            buttons: [{
                type: 'minute',
                count: 10,
                text: '10min'
            }, {
                type: 'hour',
                count: 1,
                text: '1hour'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false, // it supports only days
            selected: 1 // all
        },
        xAxis: {
            type: 'datetime'
        },

        yAxis: {
            title: {
                style: {
                    fontSize: "14px"
                },
                useHTML: true,
                verticalAlign: 'center',
                text: '<div><p style"align: center">mean +/- std</p> <p><span style="color:#3aa500;">good mood</span> / <span style="color:#f72b1c;">bad mood</span></p></div>'
            }
        },

        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: ''
        },

        legend: {},

        time: {
            useUTC: false
        },

        series: [{
            name: 'mean',
            type: 'spline',
            data: [],
            zIndex: 1,
            zones: [{
                value: 0,
                color: '#f72b1c'
            }, {
                value: 100,
                color: '#3aa500'
            }]
        }, {

            name: 'mean +/- std',
            data: [],
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.1,
            zIndex: 0,
            marker: {
                enabled: false
            },
            zones: [{
                value: 0,
                color: '#f72b1c'
            }, {
                value: 100,
                color: '#3aa500'
            }]

        }
        ]

    });

    Highcharts.chart('wordscount', {
        series: [{
            type: 'wordcloud',
            colors: ['#1d5794'],
            turboThreshold: 0,
            data: [],
            name: 'Occurrences'
        }],
        title: {
            text: 'Last ' + {{history}} + ' hours'
        }
    });

    Highcharts.chart('wordscountAgg', {
        series: [{
            type: 'wordcloud',
            colors: ['#1d5794'],
            turboThreshold: 0,
            data: [],
            name: 'Occurrences'
        }],
        title: {
            text: 'Last ' + $("input[type=radio][name=aggregation]:checked").val()
        }
    });

    updatData();

    setInterval(function () {
        COUNTDOWN -= 1;
        if (COUNTDOWN < 0) COUNTDOWN = 0;

        document.getElementById("autorefresh").innerHTML = 'Auto Refreshing in '
            + COUNTDOWN + "s ";
    }, 1000);

    function loadingInfo() {
        var chart = $('#container').highcharts();
        if (!isLoading) {
            chart.showLoading();
        } else {
            chart.hideLoading();
        }
        isLoading = !isLoading;
    }


</script>
</html>